<% if notice %>
  <div class="alert alert-info alert-dismissible fade show m-1" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<% if purchase_consultations %>
  <div class="row alert alert-warning alert-dismissible fade show m-1 " role="alert">
    <%# <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> %>
    <div class="col-12 col-md-8 mb-1">
    <%= purchase_consultations %>
    </div>
    <div class="col-12 col-md-4 mb-1">
      <%= link_to "Purchase", consultations_purchase_path, class: "btn w-100", style:"/*! outline-color: var(--bs-alert-color); */color: var(--bs-alert-color);border-color: var(--bs-alert-color);" %>
    </div>
  </div>
<% end %>
