  <nav>
    <a href="#">
      <%= image_tag "logo_w_bg.png", alt: "Bright Futures Logo", style: "width: 8rem;"%>
    </a>
    <ul>
      <li><a href="#">Parents</a></li>
      <i class="fa-solid fa-grip-lines-vertical" style="padding-left: 1rem;padding-right: 1rem;"></i>
      <li><a href="#">Educators</a></li>
      <!-- <li><a href="#">Workshops</a></li> -->
    </ul>
    <!-- <sl-button variant="primary" href="#">Find a Workshop</sl-button> -->
    <button type="button" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i> Find a Workshop</button>
  </nav>
