<%= render "shared/navbar" %>
<section id="mission" class="py-5 poistion-relative overflow-hidden">
  <div class="container">
    <div class="mw-md mw-md-3xl mx-auto">
      <div class="position-relative py-5 py-lg-5 px-5 pe-md-5 mb-5 mb-md-4 bg-warning-light">
        <div class="d-flex">
          <div>
            <p class="lead lh-lg">Bright Futures exists to bring about a global community of empowered caregivers to ensure every child has a bright future.</p>
          </div>
        </div>
      </div>
      <p class="text-muted text-center">Our Mission</p>
    </div>
  </div>
</section>

<section class="spacer border-top border-primary">
</section>

<section id="team" class="py-5">
  <div class="container">
    <div class="mw-3xl mx-auto text-center mb-5">

      <h2 class="mt-5 mb-4">Our Team</h2>

    </div>
    <div class="row">
      <div class="col-12 col-lg-10 mx-auto">
        <div class="row">
          <div class="col-12 mb-5">
            <div class="p-5 bg-light-light">
              <div class="row align-items-center">
                <div class="col-12 col-lg-5 mb-4 mb-lg-0">
                  <img class="img-fluid w-100" style="height: 223px; object-fit: cover;" src="https://images.unsplash.com/photo-1450297350677-623de575f31c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=334&amp;q=80" alt="">
                </div>
                <div class="col-12 col-lg-7">
                  <h6 class="text-primary mb-2">Barbara Poppell</h6>
                  <p class="mb-2 fw-bold">CEO &amp; Co-Founder</p>
                  <p class="text-muted">Barbara is amazing!</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-5">
            <div class="p-5 bg-light-light">
              <div class="row align-items-center">
                <div class="d-none d-lg-block col-lg-7">
                  <h6 class="text-primary mb-2">Holly Poppell</h6>
                  <p class="mb-2 fw-bold">Co-Founder &amp; Counselor</p>
                  <p class="text-muted">Holly is a parent of children with learning differences. She has nearly 30 years of teaching and counseling experience and earned a Masters degree in Counseling, a post-graduate credential in teaching, and a Bachelor’s degree in Organizational Development.</p>
                </div>
                <div class="col-12 col-lg-5 mb-4 mb-lg-0">
                  <img class="img-fluid w-100" style="height: 223px; object-fit: cover;" src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80" alt="">
                </div>
                <div class="col-12 d-lg-none">
                  <h6 class="text-primary mb-2">Holly Poppell</h6>
                  <p class="mb-2 fw-bold">Co-Founder &amp; Counselor</p>
                  <p class="text-muted">Holly is a parent of children with learning differences. She has nearly 30 years of teaching and counseling experience and earned a Masters degree in Counseling, a post-graduate credential in teaching, and a Bachelor’s degree in Organizational Development.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-5">
            <div class="p-5 bg-light-light">
              <div class="row align-items-center">
                <div class="col-12 col-lg-5 mb-4 mb-lg-0">
                  <%# <img class="img-fluid w-100" style="height: 223px; object-fit: cover;" src="app/assets/images/hunter.jpg" alt="Hunter Bourgeois"> %>
                  <%= image_tag("hunter.jpg",class:"img-fluid w-100", style:"height: 223px; object-fit: cover;", alt: "Edit Entry") %>
                </div>
                <div class="col-12 col-lg-7">
                  <h6 class="text-primary mb-2">Hunter Bourgeois</h6>
                  <p class="mb-2 fw-bold">COO</p>
                  <p class="text-muted">Hunter is an international entrepreneur with extensive experience across countries, cultures and  companies. He consistently leads cross-functional teams to launch new products on-time and at the highest quality.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-5">
            <div class="p-5 bg-light-light">
              <div class="row align-items-center">
                <div class="d-none d-lg-block col-lg-7">
                  <h6 class="text-primary mb-2">Natalie Brimacombe</h6>
                  <p class="mb-2 fw-bold">Lead Teacher</p>
                  <p class="text-muted">Natalie is awesome!</p>
                </div>
                <div class="col-12 col-lg-5 mb-4 mb-lg-0">
                  <img class="img-fluid w-100" style="height: 223px; object-fit: cover;" src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80" alt="">
                </div>
                <div class="col-12 d-lg-none">
                  <h6 class="text-primary mb-2">Natalie Brimacombe</h6>
                  <p class="mb-2 fw-bold">Lead Teacher</p>
                  <p class="text-muted">Natalie is awesome!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "shared/footer" %>
