<%= render "shared/navbar" %>
<section id="mission" class="py-5 poistion-relative overflow-hidden">
  <div class="container">
    <div class="mw-md mw-md-3xl mx-auto">
      <div class="position-relative py-5 py-lg-5 px-5 pe-md-5 mb-5 mb-md-4 bg-warning-light">
        <div class="d-flex">
          <div>
            <p class="lead lh-lg">Bright Futures exists to bring about a global community of empowered caregivers to ensure every child has a bright future.</p>
          </div>
        </div>
      </div>
      <p class="text-muted text-center">Our Mission</p>
    </div>
  </div>
</section>

<section class="spacer border-top border-primary">
</section>

<section id="team" class="py-5">
  <div class="container">
    <div class="mw-3xl mx-auto text-center mb-5">

      <h2 class="mt-5 mb-4">Our Team</h2>

    </div>
    <div class="row">
      <div class="col-12 col-lg-10 mx-auto">
        <div class="row">
          <div class="col-12 col-lg-6 mb-5">
            <div class="p-5 bg-light-light">
              <div class="row align-items-center">
                <div class="col-12 col-lg-5 mb-4 mb-lg-0">
                  <img class="img-fluid w-100" style="height: 223px; object-fit: cover;" src="https://images.unsplash.com/photo-1450297350677-623de575f31c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=334&amp;q=80" alt="">
                </div>
                <div class="col-12 col-lg-7">
                  <h6 class="text-primary mb-2">Sophie Baialey</h6>
                  <p class="mb-2 fw-bold">CEO &amp; Founder</p>
                  <p class="lead lh-lg text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 mb-5">
            <div class="p-5 bg-light-light">
              <div class="row align-items-center">
                <div class="col-12 col-lg-5 mb-4 mb-lg-0">
                  <img class="img-fluid w-100" style="height: 223px; object-fit: cover;" src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80" alt="">
                </div>
                <div class="col-12 col-lg-7">
                  <h6 class="text-primary mb-2">Ian Brown</h6>
                  <p class="mb-2 fw-bold">Head of Development</p>
                  <p class="lead lh-lg text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 mb-5 mb-lg-0">
            <div class="p-5 bg-light-light">
              <div class="row align-items-center">
                <div class="col-12 col-lg-5 mb-4 mb-lg-0">
                  <img class="img-fluid w-100" style="height: 223px; object-fit: cover;" src="https://images.unsplash.com/photo-1600486913747-55e5470d6f40?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80" alt="">
                </div>
                <div class="col-12 col-lg-7">
                  <h6 class="text-primary mb-2">Dennis Robertson</h6>
                  <p class="mb-2 fw-bold">Frontend Developer</p>
                  <p class="lead lh-lg text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="p-5 bg-light-light">
              <div class="row align-items-center">
                <div class="col-12 col-lg-5 mb-4 mb-lg-0">
                  <img class="img-fluid w-100" style="height: 223px; object-fit: cover;" src="https://images.unsplash.com/photo-1569124589354-615739ae007b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80" alt="">
                </div>
                <div class="col-12 col-lg-7">
                  <h6 class="text-primary mb-2">Sarah Ortiz</h6>
                  <p class="mb-2 fw-bold">Product Designer</p>
                  <p class="lead lh-lg text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "shared/footer" %>
