 <%= render "shared/navbar" %>
<body>
  <section class="position-relative py-48" style="height: 90vh; background-image: url('https://images.unsplash.com/photo-1510133768164-a8f7e4d4e3dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1200&amp;q=80'); background-repeat: no-repeat; background-size: cover; background-position: center;">
    <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark" style="opacity: 75%;"></div>
    <div class="position-relative container h-100 text-center d-flex align-items-center justify-content-center">
      <h2 class="mt-4 mb-3 text-white">Supporting the International Community for a Brighter Tomorrow</h2>
    </div>
  </section>
  <section class="py-20 bg-primary" style="background-image: url('cronos-assets/elements/lines3.svg'); background-repeat: no-repeat; background-size: cover; padding: 4rem;">
    <div class="container">
      <div class="mw-4xl mx-auto text-center">
        <h2 class="mt-6 mb-4 text-white">Understand More About Your Child</h2>
        <p class="mb-6 mw-2xl mx-auto lead text-light">If you have ever wondered how to develop your brand, this is the place for you. Take a big step forward in growing your business with this great tool.</p>
        <a class="btn btn-secondary d-block d-md-inline-block mb-2 mb-md-0 me-md-4" href="#">See Our Workshops</a>
      </div>
    </div>
  </section>
  <section class="py-20" style="padding: 4rem;">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-7 mb-10 mb-lg-0">
          <div class="mw-lg-md position-relative">
            <img class="img-fluid h-100" style="object-fit: cover; padding: 1rem;" src="https://images.unsplash.com/photo-1542330952-bffc55e812b2?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80" alt="">
          </div>
        </div>
        <div class="col-12 col-lg-5">
          <div class="mw-lg-md mx-auto">
            <h3 class="mb-14">The Benefits of Developmentally Appropriate Practice</h3>
            <div class="mt-3 d-flex align-items-start mb-6">
              <span class="me-4">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M8 11.5L11 14.5L17 8.5" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </span>
              <div>
                <h5>Check of access</h5>
                <p class="lh-lg text-muted mb-0">Take care to develop resources continually and integrity them with previous projects.</p>
              </div>
            </div>
            <div class="mt-3 d-flex align-items-start mb-6">
              <span class="me-4">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M8 11.5L11 14.5L17 8.5" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </span>
              <div>
                <h5>Security in savings</h5>
                <p class="lh-lg text-muted mb-0">Take care to develop resources continually and integrity them with previous projects.</p>
              </div>
            </div>
            <div class="mt-3 d-flex align-items-start">
              <span class="me-4">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M8 11.5L11 14.5L17 8.5" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </span>
              <div>
                <h5>List of regular users</h5>
                <p class="lh-lg text-muted mb-0">Take care to develop resources continually and integrity them with previous projects.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="spacer p-2 bg-primary">
  </section>
  <section class="py-5">
    <div class="container">
      <div class="mw-xl text-center mx-auto mb-12">
        <h2 class="my-5">Raising Children Is Difficult. We Can Help:</h2>
      </div>
      <div class="row align-items-center">
        <div class="col-12 col-lg-4 mb-5 mb-lg-0">
          <div class="mw-xl mx-auto p-5 text-center secondary-product-box">
            <h2 class="text-primary mb-5">Courses</h2>
            <a class="btn btn-primary w-100" href="#">Start Now</a>
          </div>
        </div>
        <div class="col-12 col-lg-4 mb-5 mb-lg-0">
          <div class="mw-xl mx-auto p-5 bg-primary text-center">
            <h2 class="text-white mb-5">Workshops</h2>
            <a class="btn btn-light w-100" href="#">Start Now</a>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="mw-xl mx-auto p-5 text-center secondary-product-box">
            <h2 class="text-primary mb-5">Consultations</h2>
            <a class="btn btn-primary w-100" href="#">Start Now</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-5">
    <div class="container">
      <div class="mw-xl mx-auto text-center mb-6">

        <h2 class="mt-6">Happy Kids = Happy Parents!


          Here's the Proof</h2>
      </div>
      <div class="row align-items-center justify-content-center">
        <button class="d-none d-lg-inline-flex btn btn-primary align-items-center justify-content-center p-0" style="width: 64px; height: 64px">
          <svg style="width: 24px; height: 24px;" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.70711 12H18.5C18.7761 12 19 12.2239 19 12.5C19 12.7761 18.7761 13 18.5 13H8.70711L11.8536 16.1464C12.0488 16.3417 12.0488 16.6583 11.8536 16.8536C11.6583 17.0488 11.3417 17.0488 11.1464 16.8536L7.14645 12.8536C6.95118 12.6583 6.95118 12.3417 7.14645 12.1464L11.1464 8.14645C11.3417 7.95118 11.6583 7.95118 11.8536 8.14645C12.0488 8.34171 12.0488 8.65829 11.8536 8.85355L8.70711 12Z" fill="white"></path>
          </svg>
        </button>
        <div class="col-12 col-lg-10 px-lg-0 text-center">
          <div class="p-5 px-lg-20 py-lg-12 bg-light-light text-center mb-6">
            <p class="lead lh-lg text-muted mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim quam ultricies, placerat tellus sed, laoreet orci. Duis luctus quam ac metus gravida sodales. Sed a ex accumsan, pellentesque sem eget, scelerisque dolor.</p>
            <img class="mx-auto img-fluid mb-4 rounded-circle" style="width: 88px; height: 88px; object-fit: cover; object-position: right;" src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80" alt="">
            <h6 class="text-primary">Danny Bailey</h6>
            <p class="fw-bold">CEO &amp; Founder</p>
          </div>
          <div class="text-center">
            <button class="btn btn-light p-0 me-2" style="width: 12px; height: 12px; transform: rotate(45deg);"></button>
            <button class="btn btn-light p-0 me-2" style="width: 12px; height: 12px; transform: rotate(45deg);"></button>
            <button class="btn btn-primary p-0 me-2" style="width: 12px; height: 12px; transform: rotate(45deg);"></button>
            <button class="btn btn-secondary p-0" style="width: 12px; height: 12px; transform: rotate(45deg);"></button>
          </div>
        </div>
        <button class="d-none d-lg-inline-flex btn btn-primary align-items-center justify-content-center p-0" style="width: 64px; height: 64px">
          <svg style="width: 24px; height: 24px;" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.2929 13H7.5C7.22386 13 7 12.7761 7 12.5C7 12.2239 7.22386 12 7.5 12H17.2929L14.1464 8.85355C13.9512 8.65829 13.9512 8.34171 14.1464 8.14645C14.3417 7.95118 14.6583 7.95118 14.8536 8.14645L18.8536 12.1464C19.0488 12.3417 19.0488 12.6583 18.8536 12.8536L14.8536 16.8536C14.6583 17.0488 14.3417 17.0488 14.1464 16.8536C13.9512 16.6583 13.9512 16.3417 14.1464 16.1464L17.2929 13Z" fill="white"></path>
          </svg>
        </button>
      </div>
    </div>
  </section>
  <section class="spacer p-2 bg-primary">
  </section>
  <section class="py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-6 mb-10 mb-lg-0">
          <div class="mw-lg-sm mx-auto">
            <h2 class="mb-6">Learn More With Our Free Webinars</h2>
            <p class="lead lh-lg text-muted mb-6">With this tool, you will get much better results at work and develop new skills. Will you take the risk of trying the latest version of our application?</p>
            <a class="btn btn-primary d-block d-md-inline-block mb-6 mb-md-0 mb-lg-0 me-md-4" href="#">Access Now</a>

          </div>
        </div>
        <div class="col-12 col-lg-6 position-relative">
          <div class="d-flex flex-column mx-auto" style="width: 296px;">
            <div class="d-flex justify-content-end align-items-end">
              <img class="ms-auto img-fluid" style="width: 296px; height: 296px; object-fit: cover;" src="https://images.unsplash.com/photo-1556761175-5973dc0f32e7?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=890&amp;q=80" alt="">
            </div>
            <div class="d-flex justify-content-end">
              <img class="img-fluid" style="height: 148px; width: 148px; object-fit: cover;" src="https://images.unsplash.com/photo-1600275669439-14e40452d20b?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=334&amp;q=80" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-5 bg-primary" style="background-image: url('cronos-assets/elements/lines3.svg'); background-repeat: no-repeat; background-size: cover;">
    <div class="container">
      <div class="mw-4xl mx-auto text-center">
        <h2 class="mt-3 text-white">Book A One-On-One Consultation</h2>
        <p class="mb-6 mw-2xl mx-auto lead text-light">Need a bit more help? We got you.</p>
        <a class="btn btn-secondary d-block d-md-inline-block mb-2 mb-md-0 me-md-4" href="#">Schedule Now</a>
      </div>
    </div>
  </section>
</body>
<%= render "shared/footer" %>
