<%= render "shared/navbar" %>
<body>
  <section class="py-5">
    <div class="container text-center">
      <div class="mw-4xl mx-auto">

        <h2 class="mt-5 mb-4">Checkout Our Free Webinars</h2>
        <p class="mw-2xl mb-5 mx-auto text-muted lead lh-lg">Build a well-presented brand that everyone will love. Take care to develop resources continually and integrity them with previous projects.</p>
        <div class="text-center mb-14">
          <a class="btn btn-secondary d-block d-sm-inline-block me-sm-4 mb-2 mb-sm-0" href="#families">Families</a>
          <a class="btn btn-success text-dark d-block d-sm-inline-block" href="#educators">Educators</a>
        </div>
      </div>
    </div>
  </section>
  <%# Families Section %>
  <section id="families" class="pt-2 pb-1 bg-light">
    <div class="container">
      <div class="mw-4xl mx-auto text-center">
        <span class="badge bg-secondary rounded-0 opacity-50">Families</span>
        <h2 class="mt-2 mb-4">Webinars</h2>
      </div>
    </div>
  </section>
  <section class="overflow-hidden py-5 bg-light">
    <div class="container">
      <div class="row align-items-center mb-5 mb-lg-0">
        <div class="col-12 col-lg-5 mb-5 mb-lg-0">
          <h2 class="mb-5">Webinar 1</h2>
          <p class="mb-5 lead lh-lg text-muted">Summary</p>
          <div class="d-flex align-items-center mb-5">
            <svg class="me-4" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 40H40" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M8 40V34L34 8L40 14L14 40H8Z" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M34 20L28 14" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <div>
              <p class="mb-0">Key Content/Learning 1</p>
            </div>
          </div>
          <div class="d-flex align-items-center mb-5">
            <svg class="me-4" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M24 44C24 44 40 36 40 24V10L24 4L8 10V24C8 36 24 44 24 44Z" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M16 23L22 29L34 17" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <div>
              <p class="mb-0">Key Content/Learning 2</p>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <svg class="me-4" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M24 30C27.866 30 31 26.866 31 23C31 19.134 27.866 16 24 16C20.134 16 17 19.134 17 23C17 26.866 20.134 30 24 30Z" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M42 23.9999C42.006 28.6858 40.1784 33.188 36.908 36.5439C35.2324 38.2726 33.2261 39.6466 31.0086 40.5839C28.791 41.5212 26.4075 42.0028 24 41.9999C21.5925 42.0028 19.209 41.5212 16.9914 40.5839C14.7739 39.6466 12.7676 38.2726 11.092 36.5439C9.03644 34.4289 7.53208 31.8412 6.71122 29.0084C5.89036 26.1756 5.77815 23.1845 6.38447 20.2982C6.99079 17.4119 8.29705 14.7188 10.1884 12.4557C12.0797 10.1927 14.4981 8.42902 17.2309 7.3199C19.9638 6.21079 22.9273 5.79018 25.8608 6.09507C28.7943 6.39996 31.608 7.42102 34.0543 9.06843C36.5006 10.7158 38.5047 12.9391 39.8902 15.5428C41.2757 18.1464 42.0002 21.0506 42 23.9999V23.9999Z" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M11.092 36.544C12.5768 34.5144 14.5197 32.8639 16.7627 31.7268C19.0056 30.5897 21.4853 29.9981 24 30C26.5148 29.9981 28.9945 30.5897 31.2374 31.7268C33.4804 32.8639 35.4233 34.5144 36.908 36.544" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <div>
              <p class="mb-0">Key Content/Learning 3</p>
            </div>
          </div>
        </div>
          <div class="col-lg-2"></div>
        <div class="position-relative col-12 col-lg-5" style="height: 28rem; background-image: url('https://images.unsplash.com/photo-1510133768164-a8f7e4d4e3dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1200&amp;q=80'); background-repeat: no-repeat; background-size: cover; background-position: center;">
          <a href="#">
            <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark d-flex align-items-center justify-content-center " style="opacity: 75%;">
                <i class="fa-regular fa-circle-play text-white opacity-50" style="font-size: 100px;"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="overflow-hidden py-5 bg-light">
    <div class="container">
      <div class="row align-items-center mb-5 mb-lg-0">
        <div class="position-relative d-none d-lg-block col-lg-5" style="height: 28rem; background-image: url('https://images.unsplash.com/photo-1510133768164-a8f7e4d4e3dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1200&amp;q=80'); background-repeat: no-repeat; background-size: cover; background-position: center;">
          <a href="#">
            <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark d-flex align-items-center justify-content-center " style="opacity: 75%;">
                <i class="fa-regular fa-circle-play text-white opacity-50" style="font-size: 100px;"></i>
            </div>
          </a>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-12 col-lg-5 mb-5 mb-lg-0">
          <h2 class="mb-5">Webinar 2</h2>
          <p class="mb-5 lead lh-lg text-muted">Summary</p>
          <div class="d-flex align-items-center mb-5">
            <svg class="me-4" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 40H40" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M8 40V34L34 8L40 14L14 40H8Z" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M34 20L28 14" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <div>
              <p class="mb-0">Key Content/Learning 1</p>
            </div>
          </div>
          <div class="d-flex align-items-center mb-5">
            <svg class="me-4" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M24 44C24 44 40 36 40 24V10L24 4L8 10V24C8 36 24 44 24 44Z" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M16 23L22 29L34 17" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <div>
              <p class="mb-0">Key Content/Learning 2</p>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <svg class="me-4" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M24 30C27.866 30 31 26.866 31 23C31 19.134 27.866 16 24 16C20.134 16 17 19.134 17 23C17 26.866 20.134 30 24 30Z" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M42 23.9999C42.006 28.6858 40.1784 33.188 36.908 36.5439C35.2324 38.2726 33.2261 39.6466 31.0086 40.5839C28.791 41.5212 26.4075 42.0028 24 41.9999C21.5925 42.0028 19.209 41.5212 16.9914 40.5839C14.7739 39.6466 12.7676 38.2726 11.092 36.5439C9.03644 34.4289 7.53208 31.8412 6.71122 29.0084C5.89036 26.1756 5.77815 23.1845 6.38447 20.2982C6.99079 17.4119 8.29705 14.7188 10.1884 12.4557C12.0797 10.1927 14.4981 8.42902 17.2309 7.3199C19.9638 6.21079 22.9273 5.79018 25.8608 6.09507C28.7943 6.39996 31.608 7.42102 34.0543 9.06843C36.5006 10.7158 38.5047 12.9391 39.8902 15.5428C41.2757 18.1464 42.0002 21.0506 42 23.9999V23.9999Z" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M11.092 36.544C12.5768 34.5144 14.5197 32.8639 16.7627 31.7268C19.0056 30.5897 21.4853 29.9981 24 30C26.5148 29.9981 28.9945 30.5897 31.2374 31.7268C33.4804 32.8639 35.4233 34.5144 36.908 36.544" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <div>
              <p class="mb-0">Key Content/Learning 3</p>
            </div>
          </div>
        </div>
        <div class="position-relative col-12 d-lg-none" style="height: 28rem; background-image: url('https://images.unsplash.com/photo-1510133768164-a8f7e4d4e3dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1200&amp;q=80'); background-repeat: no-repeat; background-size: cover; background-position: center;">
          <a href="#">
            <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark d-flex align-items-center justify-content-center " style="opacity: 75%;">
                <i class="fa-regular fa-circle-play text-white opacity-50" style="font-size: 100px;"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <%# Educators Section %>
  <section id= "educators" class="pt-2 pb-1">
    <div class="container">
      <div class="mw-4xl mx-auto text-center">
        <span class="badge bg-secondary rounded-0 opacity-50">Educators</span>
        <h2 class="mt-2 mb-4">Webinars</h2>
      </div>
    </div>
  </section>
  <section class="overflow-hidden py-5">
    <div class="container">
      <div class="row align-items-center mb-5 mb-lg-0">
        <div class="col-12 col-lg-5 mb-5 mb-lg-0">
          <h2 class="mb-5">Webinar 1</h2>
          <p class="mb-5 lead lh-lg text-muted">Summary</p>
          <div class="d-flex align-items-center mb-5">
            <svg class="me-4" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 40H40" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M8 40V34L34 8L40 14L14 40H8Z" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M34 20L28 14" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <div>
              <p class="mb-0">Key Content/Learning 1</p>
            </div>
          </div>
          <div class="d-flex align-items-center mb-5">
            <svg class="me-4" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M24 44C24 44 40 36 40 24V10L24 4L8 10V24C8 36 24 44 24 44Z" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M16 23L22 29L34 17" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <div>
              <p class="mb-0">Key Content/Learning 2</p>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <svg class="me-4" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M24 30C27.866 30 31 26.866 31 23C31 19.134 27.866 16 24 16C20.134 16 17 19.134 17 23C17 26.866 20.134 30 24 30Z" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M42 23.9999C42.006 28.6858 40.1784 33.188 36.908 36.5439C35.2324 38.2726 33.2261 39.6466 31.0086 40.5839C28.791 41.5212 26.4075 42.0028 24 41.9999C21.5925 42.0028 19.209 41.5212 16.9914 40.5839C14.7739 39.6466 12.7676 38.2726 11.092 36.5439C9.03644 34.4289 7.53208 31.8412 6.71122 29.0084C5.89036 26.1756 5.77815 23.1845 6.38447 20.2982C6.99079 17.4119 8.29705 14.7188 10.1884 12.4557C12.0797 10.1927 14.4981 8.42902 17.2309 7.3199C19.9638 6.21079 22.9273 5.79018 25.8608 6.09507C28.7943 6.39996 31.608 7.42102 34.0543 9.06843C36.5006 10.7158 38.5047 12.9391 39.8902 15.5428C41.2757 18.1464 42.0002 21.0506 42 23.9999V23.9999Z" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M11.092 36.544C12.5768 34.5144 14.5197 32.8639 16.7627 31.7268C19.0056 30.5897 21.4853 29.9981 24 30C26.5148 29.9981 28.9945 30.5897 31.2374 31.7268C33.4804 32.8639 35.4233 34.5144 36.908 36.544" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <div>
              <p class="mb-0">Key Content/Learning 3</p>
            </div>
          </div>
        </div>
          <div class="col-lg-2"></div>
        <div class="position-relative col-12 col-lg-5" style="height: 28rem; background-image: url('https://images.unsplash.com/photo-1510133768164-a8f7e4d4e3dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1200&amp;q=80'); background-repeat: no-repeat; background-size: cover; background-position: center;">
          <a href="#">
            <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark d-flex align-items-center justify-content-center " style="opacity: 75%;">
                <i class="fa-regular fa-circle-play text-white opacity-50" style="font-size: 100px;"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="overflow-hidden py-5">
    <div class="container">
      <div class="row align-items-center mb-5 mb-lg-0">
        <div class="position-relative d-none d-lg-block col-lg-5" style="height: 28rem; background-image: url('https://images.unsplash.com/photo-1510133768164-a8f7e4d4e3dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1200&amp;q=80'); background-repeat: no-repeat; background-size: cover; background-position: center;">
          <a href="#">
            <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark d-flex align-items-center justify-content-center " style="opacity: 75%;">
                <i class="fa-regular fa-circle-play text-white opacity-50" style="font-size: 100px;"></i>
            </div>
          </a>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-12 col-lg-5 mb-5 mb-lg-0">
          <h2 class="mb-5">Webinar 2</h2>
          <p class="mb-5 lead lh-lg text-muted">Summary</p>
          <div class="d-flex align-items-center mb-5">
            <svg class="me-4" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 40H40" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M8 40V34L34 8L40 14L14 40H8Z" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M34 20L28 14" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <div>
              <p class="mb-0">Key Content/Learning 1</p>
            </div>
          </div>
          <div class="d-flex align-items-center mb-5">
            <svg class="me-4" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M24 44C24 44 40 36 40 24V10L24 4L8 10V24C8 36 24 44 24 44Z" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M16 23L22 29L34 17" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <div>
              <p class="mb-0">Key Content/Learning 2</p>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <svg class="me-4" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M24 30C27.866 30 31 26.866 31 23C31 19.134 27.866 16 24 16C20.134 16 17 19.134 17 23C17 26.866 20.134 30 24 30Z" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M42 23.9999C42.006 28.6858 40.1784 33.188 36.908 36.5439C35.2324 38.2726 33.2261 39.6466 31.0086 40.5839C28.791 41.5212 26.4075 42.0028 24 41.9999C21.5925 42.0028 19.209 41.5212 16.9914 40.5839C14.7739 39.6466 12.7676 38.2726 11.092 36.5439C9.03644 34.4289 7.53208 31.8412 6.71122 29.0084C5.89036 26.1756 5.77815 23.1845 6.38447 20.2982C6.99079 17.4119 8.29705 14.7188 10.1884 12.4557C12.0797 10.1927 14.4981 8.42902 17.2309 7.3199C19.9638 6.21079 22.9273 5.79018 25.8608 6.09507C28.7943 6.39996 31.608 7.42102 34.0543 9.06843C36.5006 10.7158 38.5047 12.9391 39.8902 15.5428C41.2757 18.1464 42.0002 21.0506 42 23.9999V23.9999Z" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M11.092 36.544C12.5768 34.5144 14.5197 32.8639 16.7627 31.7268C19.0056 30.5897 21.4853 29.9981 24 30C26.5148 29.9981 28.9945 30.5897 31.2374 31.7268C33.4804 32.8639 35.4233 34.5144 36.908 36.544" stroke="#006251" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <div>
              <p class="mb-0">Key Content/Learning 3</p>
            </div>
          </div>
        </div>
        <div class="position-relative col-12 d-lg-none" style="height: 28rem; background-image: url('https://images.unsplash.com/photo-1510133768164-a8f7e4d4e3dc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1200&amp;q=80'); background-repeat: no-repeat; background-size: cover; background-position: center;">
          <a href="#">
            <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark d-flex align-items-center justify-content-center " style="opacity: 75%;">
                <i class="fa-regular fa-circle-play text-white opacity-50" style="font-size: 100px;"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</body>
<%= render "shared/footer" %>
