nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fffbff;
  height: 10vh;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  padding-left: 1rem;
  padding-right: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

nav ul li a:hover {
  text-decoration: underline;
  color: var(--color-primary-light);
}

.badge-notify {
  background: #e60505;
  position: relative;
  top: -17px;
  left: -16px;
}
