nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #fffbff;
}

nav ul {
  list-style-type: none;
  margin:0px;
  justify-content: center;
  display: flex;
}

nav ul li {
  display: inline;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .25rem;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

nav ul li a:hover {
  text-decoration: underline;
  color: var(--color-primary-light);
}
